# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
db.sqlite3

# Python package files
dist/
build/
*.egg-info/

# Coverage reports
.coverage
htmlcov/

# MyPy type check reports
.mypy_cache/

# Pytest cache
.pytest_cache/

# IDE/editor files
.vscode/
.idea/
*.iml

# Environment variables
.env
*.env

# Docker
*.dockerignore

# Miscellaneous
*.swp
*.swo
.DS_Store
Thumbs.db
